

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.form-group{
    position:relative;
}

a{
  color: green;
}

.jumbotron{
  padding-bottom: 30px;
}













